* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #d0cac8;
}

/********************* Media Queries ***********************/
/*********** lg Dev *************/
@media (max-width: 1199.98px) {
}
/*********** md dev ************/
@media (max-width: 991.98px) {
}
/*********** sm dev *************/
@media (max-width: 767.98px) {
}
/*********** xs dev ************/
@media (max-width: 575.98px) {
  h1 {
    font-size: 7vw;
  }
  #Kosher p1 {
    font-size: 4.5vw;
  }
  #Kosher p1 img {
    height: 1em;
  }
}

/***************** Navbar ******************/
.navbar {
  background-color: #262626;
}

.navbar-brand {
  font-family: 'Cormorant Unicase', serif;
  font-size: 1.1em;
  margin: 0px;
  color: #d0cac8 !important;
}

.navbar-light .navbar-nav .nav-link {
  text-align: center;
  align-content: center;
  color: #989c9e;
  font-family: 'Poiret One';
  font-weight: bold;
}

p1 span {
  font-family: 'Cormorant Infant';
  color: #d0cac8;
}

#titleId {
  margin: 0;
}

.mainLogo {
  margin-right: 15px;
}

.navbar-toggler {
  border-color: #2f2f2f !important;
  border: 2px solid;
}

svg {
  margin-right: 2px;
  fill: #d0cac8;
}
/* Navbar emd */
/* Jumbotron start */

/***** Jumbotron end ******/
/* .jumbotronImg {
  width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0 0 15px #000000;
  background-image: url("/images/chingchongbistro.jpg");
} */
/***** slideshow start *******/

.slidershow{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px #000000;
}


.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

/********* slideshow end *********/

/********** Tiles **********/
#menu-tile {
  background-image: url("/images/menu-tile-pic_415.jpg");
  background-position: center;
}

#special-tile {
  background-image: url("/images/special-tile-pic_415.jpg");
  background-position: center;
}

#map-tile {
  background-position: center;
}

#menu-tile,
#special-tile,
#map-tile {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  border: 1px solid #3f0c1f;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 0 15px #000000;
}

#menu-tile:hover,
#special-tile:hover,
#map-tile:hover {
  box-shadow: 0px 0px 5px 3px rgba(152, 150, 150, 0.56);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(152, 150, 150, 0.56);
  -moz-box-shadow: 0px 0px 5px 3px rgba(152, 150, 150, 0.56);
}

#menu-tile span,
#special-tile span,
#map-tile span {
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  bottom: 0px;
  background-color: rgb(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

/***** Tiles end ******/

/* Footer  */

.container-fluid {
  overflow: hidden;
  margin-top: 80px;
  background: #262626;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #989c9e !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

/* footer end */

/******************* Animations******************/

#menu-tile:hover {
  transition: background-image .4s;
  background-image: url("/images/menu-tile-2_415.jpg");
}

#menu-tile:not(:hover) {
  transition: background-image .4s;
}

#special-tile:hover {
  transition: background-image .4s;
  background-image: url("/images/special-tile-2_415.jpg");
}

#special-tile:not(:hover) {
  transition: background-image .4s;
}
/************************ Animations End************************/